<div class="container pt-5 mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="bg-light rounded w-400 mw-100 p-5">
            <h5 class="mb-5">Sign up for an account</h5>

            <form action="/api/users/signup" method="post" class="pb-5">
                <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
                <input type="text" class="form-control my-3" name="password" placeholder="Password">
                <input class="form-control" type="submit">
                </div>
            </form>


            <hr class="w-30 pt-5">

            <p class="text-center text-muted small-2">Have an account? <br/><a href="/login"> Register here</a></p>
        </div>
    </div>
</div>




